# Database Configuration
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=app_db
POSTGRES_PORT=5434

# Redis Configuration
REDIS_PORT=6379
REDIS_INTERNAL_PORT=6379

# Application Configuration
APP_PORT=3456

# SMTP Configuration
SMTP_HOST=smtp.gmail.com
SMTP_USERNAME=lorem@ipsum.com
SMTP_PASSWORD=lroem12131_134
